# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env
.venv/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
